.form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  display: block;
  justify-content: space-around;
  align-items: center;
}

.form-container label {
  display: block;
  margin: 10px 0px;
  font-weight: bold;
}

.form-container input,
.form-container textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.form-container button {
  padding: 10px 20px;
  background-color: #555;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-container button:hover {
  background-color: #ff0000;
}

.error-message {
  color: red;
  margin-top: 5px;
}

.form-right {
  margin-right: 20px;
  padding: 0 15px;
}

.form-left {
  margin-right: 20px; /* Añade un espacio entre los contenedores internos */
  padding: 0 15px;
}

#create {
  margin: 15px 15px 15px 200px;
}

button.selected {
  background-color: #ff0000;
}

@media screen and (max-width: 600px) {
  .form-container {
    flex-direction: column; /* Cambia a una disposición de columna en pantallas más pequeñas */
    align-items: stretch; /* Ajusta los contenedores internos al ancho completo */
  }

  .form-left,
  .form-right {
    margin-right: 0; /* Elimina el espacio entre los contenedores internos en pantallas más pequeñas */
  }
}